<html>

<head>

</head>

<body>

    <h1 id="main_title"> Welcome to the shelf.</h1>

    <div id="wrapper">
        <ul>
        {{#each books}}
            <li><p><a href="/{{../meta.book_dir}}/{{this.partial_path}}/">{{this.title}}</a></p></li>
        {{/each}}
        </ul>
    </div>

</body>

</html>
