
body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
}

#title_area {
    text-align: center;
}

.subshelf {
    margin-top: 10px;
}

.shelf_title {
    min-width: 200px;

    margin-bottom: 0px;
    
    border: 2px solid black;
    border-bottom: 0px;
    border-radius: 20px 0% 0% 0%;
    
    display:inline-block;
    padding: 10px;
}

.shelf_contents {
    min-height: 210px;

    padding: 10px;
    
    border: 2px solid black; 
}

.shelf_books {
    width: 100%;
    height: 200px;
}

.book {
    width: 150px;
    height: 200px;
    
    border: 2px solid black;
    
    position: relative;
    float: left;
    
    margin-left: 10px;
    margin-right: 10px;
}

.book:hover {
    background-color: rgb(240,240,240);
}

.book p {
    text-align: center;
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
}


