
{{! This partial helps us delve into the arbetarily nested book data}}
{{#*inline "shelf_builder"}}
    <div class="subshelf">
        
        <h2 class="shelf_title"> {{this.name}} </h2>
        
        <div class="shelf_contents">
            {{#if this.books}}
            <div class="shelf_books">

                {{#each this.books}}
                <div class="book">
                    <p>{{this.title}}</p>
                    <a href="/{{@root.bookshelf_directory}}/{{this.partial_path}}">  
                        <span class="link"></span>
                    </a>
                </div>
                {{/each}}
                    
            </div>
            {{/if}}
            
            {{#if this.sub_sections}}
            <div class="shelf_sections">
                {{#each this.sub_sections}}
                {{> shelf_builder this }}
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
{{/inline}}



{{! Start the actual template }}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/functional.css" />
    <link rel="stylesheet" type="text/css" href="/style_dark.css" />
</head>

<body>

    <div id="title_area">
        <h1 id="main_title"> Welcome to the Library.</h1>
    </div>
    
    <div id="wrapper">
        {{#each hierarchy.sub_sections}}
            {{> shelf_builder this }}
        {{/each}}
    
    </div>

</body>

</html>
